.grid-container {
  display: grid;
  grid-template-columns: [editor] auto [preview] auto;
  grid-template-rows: [top-editor] 1fr [bottom-editor] 5fr;
  grid-gap: 0.5em;
  padding: 5em;
}

.grid-item-editor {
  grid-column: editor;
  grid-row: top-editor;

}

.grid-item-preview {
  grid-column: preview;
  grid-row: 1 / span 2;
}

.grid-item-info{
  grid-column: editor;
  grid-row: bottom-editor;
}

#editor {
  white-space: pre-line;
  width: 100%;
  min-width: 80%;
  height: 30em;
}

#preview {
  border: solid blue 2px;
  white-space: pre-line;
  overflow: scroll;
  height: 50%;
}
